<HTML>
    <Head><Title>Movie Show</Title>
    </Head>
    <Body Bgcolor="Cyan">
    <Center>
    <Table Bgcolor="Pink" Border=3 Bordercolor=Black Cellpadding=4>
    <TR>
    <TH CoLSPAN=3>CURRENTLY SHOWING</TH></TR>
    <TR><TH>Category</TH><TH>Movie Name</TH><TH>Timings</TH></TR>
    <Tr><TH Rowspan=2 align=center>Comedy</TH><TD align=Center>GOD</TD><TD>10:00 AM To 1:00 PM</TD></TR>
    <TR><TD>Home Alone</TD><TD>2:00 PM To 5:00 PM</TD></TR>
    <TR><TH ROWSPAN=3>Cartoon<TD>Cars</TD><TD>5:00 PM To 7:00 PM</TD></TR>
    <TR><TD>Kung Fu Panda</TD><TD>7:00 PM To 9:00 PM</TD></TR>
    <TR><TD>Brother Bear</TD><TD>9:00 PM To 11:00 PM</TD></TR>
    </Table>
    </Center>
    </Body></HTML>